doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    style.
        body{
            margin: 0px;
            background: url('/images/wrapBg.jpg') no-repeat #EBF1F1;
        }

        #logo {
            margin: 30px 0 0 300px;
        }

        .wellwell {
            padding: 19px 19px 45px 19px;
        }

        #myBody {
            width: 590px;
            height: 200px;
        }

        #myBdLeft {
            width: 590px;
            height: 100%;
            background: #fff;
            float: left;
        }

        #talkBox {
            text-align: left;
        }

        #msgTxt {
            width: 540px;
            height: 80px;
            overflow: hidden;
            font-family: Tahoma, Arial;
            font-size: 14px;
            border: 1px solid gray;
        }

        #talkBox h2 {
            text-align: left;
            padding: 0px;
            margin: 0px;
            font: normal normal normal 18px/29px 'MicroSoft YaHei', SimHei;
        }

        #funBox {
            width: 540px;
        }

        #funBox a {
            color: #000;
            text-decoration: none;
            font-size: 14px;
        }

        .creatNew, .atSome, .insertFace, .uploadPic, .uploadVideo {
            background-position: -170px -33px;
            display: inline-block;
            height: 16px;
            padding-left: 18px;
        }

        .countTxt {
            color: #999;
            float: right;
            line-height: 33px;
            margin: 0 15px 0 0;
        }

        .countTxt em {
            font-family: Georgia, Tahoma, Arial;
            font-size: 26px;
            position: relative;
            top: -5px;
            vertical-align: middle;
        }

        .sendBtn {
            float: right;
            margin: 0 20px 0 0;
            padding: 0px;
            line-height: 33px;
            margin-left: 14px;
            height: 30px;
            width: 112px;
            border: 0px;
            cursor: pointer;
        }

        #btnCloFri {
            cursor: pointer;
        }

        #myBdRight {
            background: #CCEBF4;
            width: 210px;
            height: 100%;
            float: right;
        }

        .sendBtnHover {
            background-position: 0 -195px;
        }

        #friendDiv {
            position: absolute;
            height: 100px;
            width: 100px;
            text-align: center;
        }

        #friendDiv span {
            display: block;
            height: 20px;
            line-height: 20px;
            cursor: pointer;
            background-color: #cbe9f1;
            border:1px solid #ccc;
            border-top:none;
           
            
        }

        #friendDiv span:hover {
            background-color: #ddd;
        }

        #faceImgDiv {
            position:absolute;
            width:300px;
            background-color:#fff;
            border:2px solid #ccc;
        }

    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap.js')
    script(src='/javascripts/jquery-1.8.2.js')
    script(src='/javascripts/test.js')
  body
    .navbar.navbar-default
      .container-fluid
        .navbar-header
          a.btn.btn-navbar(data-toggle="collapse",data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="/") Microblog
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href="/") 首页
            if !user
              li
                a(href="/login") 登入
              li
                a(href="/reg") 注册
            else
              li
                a(href="/u/#{user.name}") #{user.name}            
              li
                a(href="/logout") 登出
    #container.container
      if success
        .alert.alert-success #{success}
      if error
        .alert.alert-error #{error}
      block content
      hr
      footer
        p
          a(href="http://www.sunnynetwork.cn",target="_blank") mrj@sunnynetwork
